@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes heartbeat2 {
    from {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}